# Python
__pycache__/
*.pyc

# Environments
.env
.env.*
!.env.example
.venv/
env/
*.conda/

# OS
.DS_Store
Thumbs.db

# OCR i Agent outputi (da ne pushuješ rezultate testiranja)
ocr_analysis.txt
call.txt
*.log

# Streamlit i UI
.streamlit/config.toml
.streamlit/credentials.toml

# Docker (opciono, ali preporučljivo da ne pushuješ temp fajlove build-a)
.docker/